<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link rel="stylesheet" type="text/css" href="../style/anteproy.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main class="container text-center">
            <!-- Botón para guardar los cambios -->
            <button id="saveChanges" class="btn btn-light" style="position: fixed; bottom: 20px; right: 20px;">Guardar Cambios</button>


            
            <div id='apa-cover'class="apa-cover apa-page d-flex flex-column justify-content-between" style="height: 75vh;">
                <div contenteditable="true" id="titulo">MODELOS DE OPTIMIZACIÓN MULTICRITERIO PARA LA PLANIFICACIÓN SOSTENIBLE DE INFRAESTRUCTURAS DE TRANSMISIÓN ELÉCTRICA</div>
                <div contenteditable="true">DANIEL ANDRÉS CASTAÑEDA</div>
                <div>
                    <div contenteditable="true">Facultad de Ciencias Empresariales</div>
                    <div contenteditable="true">Universidad Tecnológica de Pereira</div>
                    <div contenteditable="true">Maestría En Investigación Operativa y Estadística</div>
                    <div contenteditable="true">Pereira, Risaralda</div>
                    <div contenteditable="true">Enero - 2024</div>
                </div>
            </div>
        
            <div class="page-break"></div>
            <div class="apa-informacion apa-page">

                <h2 contenteditable="true">1. Información General</h2>
                
                <p contenteditable="true" id = 'titulo_informacion_general'>Título:</p>
                <p contenteditable="true" id = 'area_informacion_general'>Área de Investigación:</p>
                <p contenteditable="true" id = 'materias_informacion_general'>Materias Asociadas a la Investigación:</p>
                <p contenteditable="true" id = 'director_informacion_general'>Director:</p>
                
            </div>
            <div class="page-break"></div>
            <div class="apa-resumen apa-page"
                <h2 contenteditable="true">Resumen</h2>
                <p contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, perferendis minima! Libero architecto doloribus, quidem quae eius maiores delectus dicta adipisci id sed. Doloribus accusamus cupiditate suscipit quis adipisci aliquam! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quos, enim quasi aliquid reprehenderit placeat soluta voluptatem culpa vero incidunt quas minus? Non nisi aut asperiores distinctio praesentium incidunt veritatis.</p>
                <div class="page-break"></div>
        
                <h2 contenteditable="true">Introducción</h2>
                <p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        
                <h2 contenteditable="true">Metodología</h2>
                <p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        
                <h2 contenteditable="true">Resultados</h2>
                <p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        
                <h2 contenteditable="true">Discusión</h2>
                <p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        
                <h2 contenteditable="true">Conclusión</h2>
                <p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        
                <h2 contenteditable="true">Referencias</h2>
                <ul>
                    <li contenteditable="true">Apellido, A. A. (Año). Título del libro. Editorial.</li>
                    <!-- Más referencias aquí -->
                </ul>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous" ></script>
        <script>
            titulo_informacion_general.innerHTML = `<b>Título:</b> ${titulo.innerText}`
        </script>
    </body>
</html>
